<footer class="footer">
  <div class="page__block">
    <div class="footer__wrap footer__wrap--top">
      <div class="footer__info info">
        <div class="footer__logo logo">
          <a href="/" class="logo__link" aria-label="На главную"></a>
        </div>
        <div class="info__wrap">
          <div class="info__desc">
            <h2 class="footer__title">Наименование сайта</h2>
            <p class="footer__subtitle">
              Очень очень очень очень очень длинный текст
            </p>
          </div>
          <div class="info__links">
            <a href="" class="footer__link">Карта сайта</a>
            <a
              href="https://www.gismeteo.ru/"
              target="_blank"
              class="footer__vendor-link"
              aria-label="Гизметео"
            ></a>
          </div>
        </div>
      </div>
      <ul class="footer__links">
        <li><a href="#!" class="footer__link">Президент России</a></li>
        <li><a href="#!" class="footer__link">Правительство России</a></li>
        <li>
          <a href="#!" class="footer__link"
            >Очень очень очень очень очень длинный текст</a
          >
        </li>
        <li>
          <a href="#!" class="footer__link"
            >Очень очень очень очень очень длинный текст</a
          >
        </li>
      </ul>
      <ul class="footer__links">
        <li>
          <a href="#!" class="footer__link"
            >Очень очень очень очень очень длинный текст</a
          >
        </li>
        <li>
          <a href="#!" class="footer__link"
            >Очень очень очень очень очень длинный текст</a
          >
        </li>
        <li>
          <a href="#!" class="footer__link"
            >Единый портал государственных услуг</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__wrap footer__wrap--bottom">
      <div class="footer__socials">
        <ul class="footer__social social">
          <li><a href="#!" class="social__link social__link--vk"></a></li>
          <li><a href="#!" class="social__link social__link--tg"></a></li>
        </ul>
        <button class="footer__vision">Версия для слабовидящих</button>
      </div>
      <div class="footer__policy">
        <a href="#!" class="policy__link"
          >Политика обработки персональных данных</a
        >
        <p class="policy__copyright">© Все права защищены</p>
      </div>
    </div>
  </div>
  <div class="popup popup--success">
    <div class="popup__container">
      <button class="popup__close" type="button" aria-label="Закрыть">
        &times;
      </button>
      <h4 class="popup__title">Ваши данные успешно отправлены:</h4>
      <ul class="popup__list"></ul>
    </div>
  </div>
  <template id="newscard-template">
    <li class="news__card newscard">
      <div class="newscard__desc">
        <p class="newscard__date"></p>
        <p class="newscard__text"></p>
      </div>
      <img data-src="" alt="" class="newscard__image" />
    </li>
  </template>
  <template id="files-template">
    <p class="files__item"></p>
  </template>
  <template id="popup-listitem-template">
    <li class="popup__listitem listitem">
      <span class="listitem__name"></span>
      <span class="listitem__value"></span>
    </li>
  </template>
</footer>
