<footer class="footer">
  <div class="page__block">
    <div class="footer__wrap footer__wrap--top">
      <div class="footer__info info">
        <div class="footer__logo logo">
          <a href="/" class="logo__link" aria-label="На главную"></a>
        </div>
        <div class="info__wrap">
          <div class="info__desc">
            <h2 class="footer__title">Наименование сайта</h2>
            <p class="footer__subtitle">
              Очень очень очень очень очень длинный текст
            </p>
          </div>
          <div class="info__links">
            <a href="" class="footer__link">Карта сайта</a>
            <a
              href="https://www.gismeteo.ru/"
              target="_blank"
              class="footer__vendor-link"
              aria-label="Гизметео"
            ></a>
          </div>
        </div>
      </div>
      <ul class="footer__links">
        <li><a href="#!" class="footer__link">Президент России</a></li>
        <li><a href="#!" class="footer__link">Правительство России</a></li>
        <li>
          <a href="#!" class="footer__link"
            >Очень очень очень очень очень длинный текст</a
          >
        </li>
        <li>
          <a href="#!" class="footer__link"
            >Очень очень очень очень очень длинный текст</a
          >
        </li>
      </ul>
      <ul class="footer__links">
        <li>
          <a href="#!" class="footer__link"
            >Очень очень очень очень очень длинный текст</a
          >
        </li>
        <li>
          <a href="#!" class="footer__link"
            >Очень очень очень очень очень длинный текст</a
          >
        </li>
        <li>
          <a href="#!" class="footer__link"
            >Единый портал государственных услуг</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__wrap footer__wrap--bottom">
      <div class="footer__socials">
        <ul class="footer__social social">
          <li><a href="#!" class="social__link social__link--vk"></a></li>
          <li><a href="#!" class="social__link social__link--tg"></a></li>
        </ul>
        <button class="footer__vision">Версия для слабовидящих</button>
      </div>
      <div class="footer__policy">
        <a href="#!" class="policy__link"
          >Политика обработки персональных данных</a
        >
        <p class="policy__copyright">© Все права защищены</p>
      </div>
    </div>
  </div>
</footer>
