<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bttest</title>
    <meta name="description" content="Code example bttest" />
    <meta name="keywords" content="Code example" />
    <meta name="author" content="Демиденко Александр" />
  </head>

  <body class="root">
    <div class="page">
      <!-- Начало блока header -->
      <%= htmlWebpackPlugin.options.header %>
      <!-- Конец блока header -->

      <!-- Начало блока content -->

      <%= htmlWebpackPlugin.options.form %>

      <!-- Конец блока content -->

      <!-- Начало блока footer -->
      <%= htmlWebpackPlugin.options.footer %>
      <!-- Конец блока footer -->
    </div>
  </body>
</html>
