.main {
  box-sizing: border-box;
  min-height: 800px;
  background-color: #e7e7e6;
  padding: 0 200px 150px;
  position: relative;
}

@media (max-width: 1200px) {
  .main {
    padding: 0 50px 80px;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 0 20px 80px;
  }
}
